div .chip-on {
	background-color: green;
	color: #fff;
}

div .chip-off {
	background-color: red;
	color: #fff;
}

/*.tablet-grid {
	margin: 0.6em;
}*/

.tablet-grid:hover {
	background-color: #bdbdbd59;
}
.gps-grid-container{
	padding: 0.1em;
	margin: 0.3em;
	margin-right: 0.6em;
}

.gps-grid-container:hover {
	background-color: #bdbdbd59;
}