.asset-content-container {
	width: 79vw;
	background-color: ;	
}

.mani-container{
}

.big-boys-container  { 
	grid-area: 'content'
/*	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7rem;
    margin-top: 1em;
    overflow: hidden;*/
}